<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.5" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="170.1000.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="QRCoder" version="1.7.0" targetFramework="net48" />
</packages>